.alta {
    height: auto;
    padding: 20px;
    background-color: #ddd;
}

.alta h1 {
    text-align: center;
}

/* -------------------------------- */
/*     Maquetado del formulario     */
/* -------------------------------- */
.alta .alta-form {
    background-color: #b63625;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 1px dashed yellow;
    /* display: none; */
}

.alta .input-group {
    text-align: center;
    padding: 3px;
    /* border: 1px solid cyan; */
}

.alta label {
    color: #badc58;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;

}

.alta label[for="envio"] {
    display: inline-block;
    margin: 10px 0;
}

.alta form button {
    /* text-align: center; */
    width: 40%;
    height: 40px;
    
    display: block;
    margin: 15px auto;

    background-color: #6ab04c;
    color: #130f40;
    font-size: 20px;
    border-radius: 5px;

    cursor: pointer;
}

.alta .btnActualizar {
    background-color: gold;
    color: #222;
}

.alta .btnAgregar {
    background-color: #6ab04c;
    color: #130f40;
}

.alta input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #95afc0;
}

.alta input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* -------------------------------- */
/*      Maquetado de la tabla       */
/* -------------------------------- */
.alta th, .alta td {
    border: 1px solid black;
    width: 80px;
    height: 30px;
    padding: 10px;
}

.alta th {
    text-transform: uppercase;
    background-color: #111;
    color: white;
}

.alta table {
    border-collapse: collapse;
    margin: 5px auto;
}

.alta h2 {
    text-align: center;
}

.alta .centrar {
    text-align: center;
}

/* --------------------------------------------------- */
/*      Maquetado de los botones borrar y editar       */
/* --------------------------------------------------- */
.alta table .borrar-editar {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.alta table button.btnBorrar {
    background-color: crimson;
    color: white;
}

.alta table button.btnBorrar:disabled {
    opacity: 0.5;
}

.alta table button.btnEditar {
    background-color: gold;
    color: #222;
}

.alta table button.btnCancelar {
    background-color: #222;
    color: gold;
}