.inicio {
    background-color: #689;
    padding: 25px;
    text-align: center;
}

.inicio section img {
    width: 200px;
    margin-bottom: 15px;
}

.inicio section {
    border: 1px dashed yellow;
    width: 350px;
    padding: 15px;
    background-color: #943;
    color: white;
    margin: 25px;
    border-radius: 15px;
}

.inicio section h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.inicio .section-cards-header h1 {
    color: white;
    margin-bottom: 40px;
}

.inicio .section-cards-body {
    display: flex;
    
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.inicio section p {
    margin-bottom: 5px;
}

/* ------------------------------------- */
.inicio section button.btnComprar {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;

    margin: 30px auto 5px;

    background-color: #6ab04c;
    color: #130f40;

    cursor: pointer;
}

.inicio section p {
    margin-bottom: 10px;
}