/* selector CSS de grupo */
body, ul, h1, h3, p {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* ----------------------------------- */
/*        Maquetado header nav         */
/* ----------------------------------- */
header {
    /* border: 1px solid magenta; */
    width: 100%;
    height: auto;
}

/* selector CSS descendente */
header nav {
    background-color: #48D1CC;
    width: 100%;
    /* height: 100px; */
    height: auto;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

header nav ul {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto;

    list-style: none;
    padding: 0;

    display: flex;

    flex-wrap: nowrap;

    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

}

header nav ul li {
    /* border: 1px solid yellow; */
    width: 100%;
    height: auto;

    /* text-align: center; */
}

header nav ul li a {
    text-decoration: none;
    /* border: 1px solid white; */

    width: 115px;
    height: 54px;
    display: block;

    background-color: #800080;
    color: white;
    margin: auto;

    text-align: center;
    line-height: 54px;
}

/* ----------------------------------- */
/*        Maquetado header div         */
/* ----------------------------------- */
/* selector CSS pariente adyacente (hijo de) */
header > div {
    background-color: #555;
    width: 100%;
    /* height: 180px; */
    height: auto;
    /* border: 1px solid yellow; */

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: center; */
}

#logo {
    height: 54px;
    width: 10%;
    background-color: #FFFF00;
    text-align: center;
    line-height: 54px;

}

#barra-busqueda {
    height: 54px;
    width: 85%;
    background-color: #FFD700;

    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form {
    /* border: 1px solid magenta; */
    width: 100%;
    height: 35px;
    /* width: 75%;
    height: 35px;
    text-align: center;
    line-height: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#barra-busqueda form label {
    background-color: #ADFF2F;
    width: 100px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

#barra-busqueda form input {
    background-color: #FF1493;
    color: white;
    width: 50%;
    height: 20px;
    padding: 2px;
    margin: 0 2px 0 5px;
}

#barra-busqueda form input[type="submit"] {
    background-color: #2F4F4F;
    width: 100px;
    height: 28px;
    margin: 0;
}


#boton-carrito {
    background-color: #DAA520;
    height: 54px;
    width: 5%;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
}


/* ----------------------------------- */
/*            Maquetado main           */
/* ----------------------------------- */
main {
    height: auto;
    min-height: 80vh;
}

/* ----------------------------------- */
/*          Maquetado footer           */
/* ----------------------------------- */
footer {
    background-color: blueviolet;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}
